<div class="master-tab">
  <ul>
      <li routerLink="/productcategory-list" routerLinkActive="active"><a>Product Category</a></li>
      <li routerLink="/products-list" routerLinkActive="active"><a>Products</a></li>
      <!-- <li routerLink="/demo-karigar-list" routerLinkActive="active"><a>Demo Karigar</a></li> -->
      <!-- <li routerLink="/news-list" routerLinkActive="active"><a>News</a></li> -->
      <li routerLink="/video-list" routerLinkActive="active"><a>Videos</a></li>
      <li routerLink="/login-banner-list" routerLinkActive="active"><a>Login Banner</a></li>
      <!-- <li routerLink="/sales-executive-list" routerLinkActive="active"><a>Sales Executive</a></li> -->
      <!-- <li routerLink="/distributor-list" routerLinkActive="active"><a>Distributor</a></li> -->
      <!-- <li routerLink="/karigar-data" routerLinkActive="active"><a>Karigar Data</a></li> -->
      <li routerLink="/daily-coupon-access" routerLinkActive="active"><a>Daily Coupon Access</a></li>
      <li routerLink="/company-profile" routerLinkActive="active"><a>Company Profile</a></li>
      <li routerLink="/referral-master" routerLinkActive="active"><a>Points Master</a></li>
      <li routerLink="/app-banner-list" routerLinkActive="active"><a>App Banner</a></li>
      <li routerLink="/gifts" routerLinkActive="active"><a>Master Gift</a></li>
      <li routerLink="/user-list" routerLinkActive="active"><a>System User</a></li>


      <!-- <li routerLink="/message-history" routerLinkActive="active"><a>Message History</a></li> -->
      <!-- <li routerLink="/notification-history" routerLinkActive="active"><a>Notification History</a></li> -->
  </ul>
</div>
